*{
	border: 2px dotted orange;
	list-style: none;
	margin: 0;
	padding: 0;
}

/*************Header**/

.header-container{
	text-align: center;
	color: white;
}

.header-wrapper{
	width: 90%;
	background: red;
	margin: auto;
}
/*************Nav**/

.nav-commands{
	display: flex;
	justify-content: space-between;
	margin: 1em;
}

.nav-howl,
.nav-pack{
	background-color: red;
	font-size: 10px;
}
.nav-howl a,
.nav-pack a{
	color: white;
}
.body-container{
	max-width: 320px;
}

/**********new wolf*/
.new-wrapper{
	display: flex;
	justify-content: center;
}
.new-wolf{
	text-align: center;
	width: 50%;
}


/***********Howler Index **/
.index-name-image-text-wrapper{
	border: 2px solid black;
	width: 90%;
	margin: 10px auto;
}

.index-name-image-wrapper{
	display: flex;
	align-items: center;
}

.index-howl-name,
.index-howl-image{
	width: 50%;
}
img{
	width: 4em;
height: 4em;
border-radius: 100%;
}




