<nav class="nav-commands">
	<div class="nav-howl">
		<a href="/howls/new">NEED TO HOWL?</a>
	</div>
	<div class="nav-pack">
		<a href="/wolves">SEE THE PACK</a>
	</div>
</nav>

<div class="howler-container">
	<h3>Here are the last five howls from your pack:</h3>

	<div class="index-howl-container">
		<ul class="index-howl-wrapper">
			<% @howls.map do |howl| %>
			<div class="index-name-image-text-wrapper">
				<div class="index-name-image-wrapper">
					<li class="index-howl-name"><%= howl.wolf.name %></li>
					<li class="index-howl-image"><img src="<%= howl.wolf.image %>" alt=""></li>
				</div>
				<li class="index-howl-text"><%= howl.text %></li>
				<div class="index-bar"></div>
			</div>
			<% end %>
		</ul>
	</div>
</div>
