<div class="new-wrapper">
  <div class="new-howl">
    <form action="/howls" method="post">
      <div class="new-howl-input howl-transition">
        <input type="text"  placeholder="What are you howling about?"       name="text" value="<%= @howl.text %>" class="howls-new-list"></br>
      </div>
      <div class="new-howl-input">
        <input type="text"  placeholder="Wanna share a picture? (optional)" name="image"value="<%= @howl.image %>" class="howls-new-list">  </br>     
      </div>
      <div class="new-howl-input">
        <select name="wolf_id" class="howls-new-list">
          <% @wolves.each do |wolf| %>
          <option value="" disabled selected hidden>Who's Howling?</option>
          <option placeholder="Howler"  value="<%= wolf.id %>"><%= wolf.name %></option>
          <% end %>
        </select></br>
      </div>
      <div class="new-howl-submit">
        <div class="new-buttons">
          <a href="/howls">BACK</a>
        <input type="submit"    value="HOWL">
        </div>
      </div>
    </form>
  </div>
</div>
