<div class="new-wrapper">
	<div class="new-howl">
		<h1>Howl a Howl</h1>

		<form action="/howls"	method="post">
			<input type="text"	placeholder="Post a Picture"	name="image"value="<%= @howl.image %>">	</br>
			<input type="text"	placeholder="Enter a Howl" 		name="text"	value="<%= @howl.text %>"></br>
			
			<select name="wolf_id">
				<option value="" disabled selected hidden>Please Choose</option>
				<% @wolves.each do |wolf| %>
				<option placeholder="Howler"	value="<%= wolf.id %>"><%= wolf.name %></option>
				<% end %>
			</select></br>
			
			<input type="submit"		value="Create Wolf Name">
		</form>
	</div>

</div>

<div>
	<a href="/howls">BACK</a>
</div>
<div>
	<a href="#">JOIN THE PACK</a>
</div>
