<h1>You have <%= @wolves.count %> in your pack</h1>

<div>
	<ul>
		<%  @wolves.each do |wolf|%>
		<li><%= wolf.name %></li>
		<li><img src="<%= wolf.image %>" alt=""></li>
		<li><%= wolf.description %></li>
		<% end %>
	</ul>
</div>

<div>
	<a href="/wolves/new">NEW PACK MEMBER</a>
</div>