<div class="new-wrapper">
	<div class="new-wolf">
		<h1>Create a New Wolf</h1>

		<form action="/wolves"	method="post">
			<input type="text"	placeholder="Wolf Name" 							name="name"					value="<%= @wolf.name %>"></br>
			<input type="text"	placeholder="Profile Picture URL?"		name="image"				value="<%= @wolf.image %>">	</br>
			<input type="text"	placeholder="Wolf Motto" 							name="description"	value="<%= @wolf.description %>"></br>
			<input type="submit"		value="Create Wolf Name">
		</form>
	</div>
</div>

<div>
		<div>
		<a href="/wolves">BACK</a>
	</div>
	<div>
		<a href="#">JOIN THE PACK</a>
	</div>
</div>